
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- it is common to place the .js files at the end of the <body> tag as well -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- ... -->
</head>
<body>
  <form method="post" action="/login">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    {{!-- <button type="button" class="btn btn-success">Success</button> --}}
    <button type="submit" class="btn btn-success">Login</button>
  </form>
</body>
</html>

